.file-upload-input {
	width: 100%;
}

.document-slot {
	.tender-doc {
		margin-top: 0.5rem;
		width: 5rem;
		height: 5rem;
		object-fit: contain;
	}
}

.btn-remove-tender-doc {
	position: absolute;
	top: -10px;
	left: 4rem;
}