<mat-card class="table-card" *ngIf="config">
	<div class="container">
		<div class="table-main-header">
			<div class="title-section flex items-center">
				<h2 class="text-3xl font-semibold tracking-tight leading-8 mr-3">{{config.title}}</h2>

				<div class="search-field flex-1">
					<mat-form-field class="flex-1" *ngIf="config.showSearch">
						<input type="text" [placeholder]="'Search by ' + config.searchColumn" matInput [formControl]="searchFC">
					</mat-form-field>
				</div>
			</div>

			<div class="flex flex-1 justify-end">
				<div class="row-actions mr-3" *ngIf="selectedRow">
					<ng-container *ngFor="let ac of config.rowActions">
						<button mat-button color="primary" class="action" [class]="ac.class"
							*ngIf="ac.condition === undefined || ac.condition(selectedRow, ac.action)" 
							(click)="onRowAction(ac)">
							{{ac.title}}
						</button>
					</ng-container>
				</div>
		
				<button class="mr-3" *ngIf="config.showAdd" mat-raised-button color="primary" (click)="onAdd()">
					<mat-icon>add</mat-icon> {{ config.addBtnText || 'Add New'}}
				</button>

				<button mat-stroked-button (click)="onRefreshData()">
					<mat-icon>refresh</mat-icon>
				</button>
			</div>
		</div>

		<div class="table">
			<div>
				<table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
					<ng-container *ngFor="let col of config.columns">
						<ng-container [matColumnDef]="col.name">
							<ng-container *ngIf="col.sortable;">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.title}} </th>
							</ng-container>
			
							<ng-container *ngIf="col.filter; else otherHeadings">
								<th mat-header-cell *matHeaderCellDef>
									<span class="relative">
										<span class="mr-4">{{col.title}}</span>

										<mat-icon (click)="col.toggleFilter = !col.toggleFilter" 
												class="filter-icon"
												color="primary">
											{{ col.filterConfig.selectedFilterValue ? 'filter_alt' : 'filter_list' }}
										</mat-icon>
									</span>

									<table-filters *ngIf="col.toggleFilter"
										[config]="col.filterConfig"
										(signal)="onTableFilter($event, col)">
									</table-filters>
								</th>
							</ng-container>

							<ng-template #otherHeadings>
								<th mat-header-cell *matHeaderCellDef> {{col.title}} </th>
							</ng-template>

							<ng-container [ngSwitch]="col.format">
								<ng-container *ngSwitchCase="'image'">
									<td mat-cell *matCellDef="let row">
										<img [src]="row[col.name] || '/assets/images/no_image.png'" class="image">
									</td>
								</ng-container>

								<ng-container *ngSwitchCase="'url'">
									<td mat-cell *matCellDef="let row">
										<div (click)="onCellClick($event, row)">
											<span class="underlined">{{ row[col.name] | nestedValue:col.name:row }}</span>
										</div>
									</td>
								</ng-container>

								<ng-container *ngSwitchCase="'downloadable'">
									<td mat-cell *matCellDef="let row">

										<ng-container 
											*ngIf="row[col.name].length === 1; then singleDoc else multipleDocs">
										</ng-container>
										
										<ng-template #singleDoc>
											<a [href]="row[col.name][0]" download (click)="$event.stopPropagation();">
												<mat-icon class="download-icon">download</mat-icon>
											</a>
										</ng-template>

										<ng-template #multipleDocs>
											<a (click)="onDownload($event, row[col.name])">
												<mat-icon class="download-icon">download</mat-icon>
											</a>
										</ng-template>
									</td>
								</ng-container>

								<ng-container *ngSwitchDefault>
									<td mat-cell *matCellDef="let row">
										<div *ngIf="col.isArray; else singleValue">
											<span *ngFor="let rec of row[col.name]" class="item">{{ rec[col.columnName] }}</span>
										</div>
	
										<ng-template #singleValue>
											<div [style.width]="col.width" *ngIf="col.applyStatusClass; else simpleCol" 
												[class.status]="col.applyStatusClass" [class]="normalizeClass(row[col.name])">
												{{ row[col.name] 
													| nestedValue:col.name:row 
													| formatDisplayValue
													| format:col.format 
												}}
											</div>

											<ng-template #simpleCol>
												<div [style.width]="col.width">
													{{ row[col.name] 
														| nestedValue:col.name:row 
														| format:col.format 
													}}
												</div>
											</ng-template>
										</ng-template>
									</td>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>

					<ng-container matColumnDef="loading">
						<th mat-header-cell *matHeaderCellDef colspan="100%" style="border-bottom-width: 0; padding: 0;" >
							<mat-progress-bar *ngIf="loading" color="warn" mode="query"></mat-progress-bar>
						</th>
					</ng-container>

					<ng-container matColumnDef="error">
						<td class="error-cell" mat-cell *matCellDef="let row" colspan="100%">
							<h3 class="error-title">{{row.title}}</h3>
							<p class="error-msg" *ngIf="row.message">{{row.message}}</p>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
					<tr mat-header-row *matHeaderRowDef="['loading']; sticky: true;" style="height: 3px !important;"></tr>
					<tr mat-row *matRowDef="let row; columns: ['error']; when: showError"></tr>
					
					<tr mat-row *matRowDef="let row; columns: displayedColumns;" 
						[class.selected]="row === selectedRow"
						style="cursor: pointer;" (click)="onRowClick(row)">
					</tr>
				</table>
			</div>
		</div>

		<mat-paginator class="paginator"
			[pageSize]="limit" 
			[pageSizeOptions]="pageSizeOptions" 
			[length]="totalRecords"
			(page)="onPageChange($event)">
		</mat-paginator>
	</div>
</mat-card>
