<div class="container">
	<div class="flex justify-between items-center">
		<h2 class="text-3xl font-semibold tracking-tight leading-8" style="margin: 0;">
			Reset Password
		</h2>

		<button mat-icon-button matDialogClose>
			<mat-icon>close</mat-icon>
		</button>
	</div>

	<mat-divider class="divider"></mat-divider>

	<form [formGroup]="theForm" class="form">
		<div class="flex flex-col">
			<mat-form-field appearance="outline">
				<mat-label>New password</mat-label>
				<input type="password" matInput placeholder="New password" formControlName="newPassword"
					autocomplete="off">
				<mat-error *ngIf="theForm.controls['newPassword'].errors">
					<div *ngIf="theForm.controls['newPassword'].hasError('required')">
						New password is required
					</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Confirm new password</mat-label>
				<input type="password" matInput placeholder="Confirm new password"
					formControlName="confirmNewPassword" autocomplete="off">
				<mat-error *ngIf="theForm.controls['confirmNewPassword'].errors">
					<div *ngIf="theForm.controls['confirmNewPassword'].hasError('required')">
						Confirm new password is required
					</div>
					<div *ngIf="theForm.get('confirmNewPassword')?.hasError('matching')">
						Passwords did not match
					</div>
				</mat-error>
			</mat-form-field>
		</div>
	</form>

	<mat-divider class="divider"></mat-divider>

	<div class="flex justify-end">
		<button mat-raised-button color="primary" [disabled]="theForm.invalid || !theForm.dirty || disableSaveBtn"
			(click)="onResetPassword()">
			Submit
		</button>
	</div>
</div>