<div class="w-full p-8">
	<mat-card class="table-card">
		<div class="container">
			<div class="table-main-header">
				<div class="title-section flex items-center">
					<h2 class="text-3xl font-semibold tracking-tight leading-8 mr-3"> Bidders Pricing </h2>
				</div>
	
				<div class="flex flex-1 justify-end">
					<div class="row-actions mr-3" *ngIf="selectedRow">
						<button mat-button color="primary" class="action"
							(click)="onAwardTender()">
							Award Tender
						</button>
					</div>
			
					<button mat-stroked-button (click)="exportToExcel()" class="mr-3">
						<mat-icon>download</mat-icon>
					</button>

					<button mat-stroked-button (click)="getAllBids()">
						<mat-icon>refresh</mat-icon>
					</button>
				</div>
			</div>
	
			<div class="table">
				<div>
					<table mat-table [dataSource]="dataSource">
						<ng-container matColumnDef="company">
							<th mat-header-cell *matHeaderCellDef> Company </th>
							<td mat-cell *matCellDef="let element"> {{element.user?.company?.name }} </td>
						</ng-container>
	
						<ng-container matColumnDef="duration">
							<th mat-header-cell *matHeaderCellDef style="width: 80px;"> Duration (months) </th>
							<td mat-cell *matCellDef="let element" style="width: 80px;"> {{element.durationInNumbers }} </td>
						</ng-container>
	
						<ng-container matColumnDef="price">
							<th mat-header-cell *matHeaderCellDef style="width: 80px;"> Price </th>
							<td mat-cell *matCellDef="let element" style="width: 80px;"> {{element.priceInNumbers }} </td>
						</ng-container>

						<ng-container matColumnDef="isVerifiedOnBinaa">
							<th mat-header-cell *matHeaderCellDef> Binaa Verified</th>
							<td mat-cell *matCellDef="let element"> <img [src]="'/assets/images/binaa_logo.png'" alt="Binaa Verified" *ngIf="element?.user?.company?.isVerifiedOnBinaa"> </td>
						</ng-container>
	
						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef style="width: 80px;"> Status </th>
							<td mat-cell *matCellDef="let element" style="width: 80px;">
								<div class="bid-status" [class]="element.status.toLowerCase()">
									{{element.status | replaceUnderscore }}
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="dummy_column_take_space">
							<th mat-header-cell *matHeaderCellDef></th>
							<td mat-cell *matCellDef="let element"></td>
						</ng-container>
	
						<ng-container matColumnDef="loading">
							<th mat-header-cell *matHeaderCellDef colspan="100%" style="border-bottom-width: 0; padding: 0;" >
								<mat-progress-bar *ngIf="loading" color="warn" mode="query"></mat-progress-bar>
							</th>
						</ng-container>
	
						<ng-container matColumnDef="error">
							<td class="error-cell" mat-cell *matCellDef="let row" colspan="100%">
								<h3 class="error-title">{{row.title}}</h3>
								<p class="error-msg" *ngIf="row.message">{{row.message}}</p>
							</td>
						</ng-container>
						
						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
						<tr mat-header-row *matHeaderRowDef="['loading']; sticky: true;" style="height: 3px !important;"></tr>
						<tr mat-row *matRowDef="let row; columns: ['error']; when: showError"></tr>
					
						<tr mat-row *matRowDef="let row; columns: displayedColumns;" 
							[class.selected]="row === selectedRow"
							style="cursor: pointer;" (click)="onRowClick(row)">
						</tr>
					</table>
				</div>
			</div>
		</div>
	</mat-card>
</div>
