.table-card {
	width: 100%;
	height: 100%;

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
	
		.table-main-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1rem;
		}
	
		.title-section {
			flex: 0 0 35%;
			margin-bottom: 5px;
			
			h1 {
				margin: 0;
			}
	
			.mat-form-field {
				font-size: 14px;
				width: 100%;
			}
		}
	
		.action {
			margin-right: 5px;
		}
		
		.table {  
			overflow: auto; 
			height: 100%; 
			flex: 1;
			border: 1px solid #eee;
	
			table {
				width: 100%;
	
				tr.mat-header-row {
					height: 50px !important;
					border-radius: 4px;
				}
	
				td {
					max-width: 20rem;
					width: 10rem;
				}
			}
	
			.selected {
				background-color: #a3a3a3 !important;
			}

			.bid-status {
				width: 7rem;
				padding: 2px 6px;
				color: #fff;
				border-radius: 8px;
				text-align: center;
			}

			.in_range {
				background-color: #28a745;
			}

			.out_of_range {
				background-color: #dc3545;
			}

			img {
				width: 50px;
				height: 40px;
				border-radius: 4px;
				margin-right: 5px;
			}
		}

		.paginator {
			border-radius: 4px;
		}
	
		.stage-dropdown {
			::ng-deep .mat-form-field-wrapper {
				padding-bottom: 0 !important;
				margin: 8px 0;
			}
		}

		.sortable {
			cursor: pointer;
		}

		.sort-icon {
			font-size: 18px;
			margin-left: 2px;
		}
	}
}